@model IEnumerable<maibagamofisa.Models.Daysoftheweek>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EnglishName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GermanName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnglishName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GermanName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagePath)
            </td>
            
            <td>
               
                <a asp-action="Details" asp-route-id="@item.DaysoftheweekID">Details</a> |
                
            </td>
        </tr>
}
    </tbody>
</table>
