@model IEnumerable<maibagamofisa.Models.Dialogue>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="mb-3">
    <a asp-action="Create" class="btn btn-purple">Create New</a>
</div>

<table class="table table-purple">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Questions)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Questions)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<style>
    .btn-purple {
        background-color: #aa80ff;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        text-decoration: none;
        transition: background-color 0.3s;
    }

    .btn-purple:hover {
            background-color: #aa80ff;
    }

    .table-purple {
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .table-purple th,
    .table-purple td {
        padding: 10px;
    }

    .table-purple th {
            background-color: #aa80ff;
        color: #fff;
    }

    .table-purple tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>
